.home {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background: url('../img/hero-image.jpg') center top;
    background-size: cover;
    clip-path: polygon(100% 0, 100% 89%, 0 100%, 0 0);

    &__title {
        font-size: 5rem;
        font-weight: 700;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
        color: $white-color;        
    }
        
}
.banner-btn {
    margin: 70px auto 0;

    a {
        width: 200px;
        text-decoration: none;
        display: inline-block;
        margin: 10px 10px;
        padding: 12px 0;
        color: $white-color;
        border: .5px solid #fff;
        position: relative;
        z-index: 1;        
        text-transform: uppercase;
        

        &:hover {
            color: $white-color;
            background-color: $orange-color;
            border: .5px solid $orange-color;
        }        
    }  
  
}
