.logo {
    display: flex;
    position: absolute;
    color: black;
    margin-top: 1.8rem;
    width: 120px;   
}
ul {
    position: relative;
    display: flex;
    
    li {
        position: relative;
        list-style: none;

        a {
            position: relative;
            display: inline-block;
            margin: 0 15px;
            text-transform: uppercase;
            padding: 15px;
            
            

            &:hover {
                background-color: black;
            }
        }

    }
}