.nav {
    background: $orange-color;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .menu-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;        
        overflow: hidden;
        list-style-type: none;
        padding-right: 1rem;
    }
}