@import 'config';
@import 'home';
@import 'menu';
@import 'responsive';
@import 'work';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;    
}

a {
    text-decoration: none;
    cursor: pointer;   
    color: $white-color; 
}

h1, h2, h3 {
    font-weight: 400;
    color: $black-color;
}
main{
    height: 94%;
}

p {
    color: $black-color;
}
