@import 'config';
@import 'home';
@import 'menu';
@import 'responsive';


body {
    background: #fff;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    line-height: 1;
}
header {
    position: fixed;
    width: 100%;
    padding: 1rem;
    z-index: 2;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3 {
    font-weight: 400;
    color: $black-color;
}

main {
    height: 100%;
    width: 100%;
}

