@import 'config';
@import 'home';
@import 'menu';
@import 'responsive';


body {
    background: #fff;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    line-height: 1;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $orange-color;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3 {
    font-weight: 400;
    color: $black-color;
}

main {
    height: 100%;
    width: 100%;
}
p {
    color: $black-color;
}
